<h1 class="fontcontent p-4">Shop Product</h1>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 pb-2 px-2">
            <div class="card" style="width: 17rem">
                <img class="card-img-top" src="../../../assets/img/product1.jpg" alt="Card image cap" />
                <div class="card-body">
                    <h2 class="card-title">AEROREADY SHIRT</h2>
                    <div class="row">
                        <div class="col-10 nopadding monneyitem" style="font-size: 20px; padding-top: 5px">
                            $25
                        </div>
                        <div class="col-2 text-center nopadding">
                            <mat-icon aria-label="Example home icon" fontIcon="shopping_bag" class="icon-shopping_bag"
                                style="color:black; padding-top: 2px"
                                (click)="Selectitems('AEROREADY SHIRT', 25,'../../../assets/img/product1.jpg')">
                            </mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 pb-2 px-2">
            <div class="card" style="width: 17rem">
                <img class="card-img-top" src="../../../assets/img/product2.jpg" alt="Card image cap" />
                <div class="card-body">
                    <h2 class="card-title">WIRELESS EARBUDS</h2>
                    <div class="row">
                        <div class="col-10 nopadding monneyitem" style="font-size: 20px; padding-top: 5px">
                            <span style="font-size: 22px;">$100</span>
                        </div>
                        <div class="col-2 text-center nopadding">
                            <mat-icon aria-label="Example home icon" fontIcon="shopping_bag" class="icon-shopping_bag"
                                style="color:black; padding-top: 2px"
                                (click)="Selectitems('WIRELESS EARBUDS', 100,'../../../assets/img/product2.jpg')">
                            </mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 pb-2 px-2">
            <div class="card" style="width: 17rem">
                <img class="card-img-top" src="../../../assets/img/product3.jpg" alt="Card image cap" />
                <div class="card-body">
                    <h2 class="card-title">HOODED PARKA</h2>
                    <div class="row">
                        <div class="col-10 nopadding monneyitem" style="font-size: 20px; padding-top: 5px">
                            $45
                        </div>
                        <div class="col-2 text-center nopadding">
                            <mat-icon aria-label="Example home icon" fontIcon="shopping_bag" class="icon-shopping_bag"
                                style="color:black; padding-top: 2px"
                                (click)="Selectitems('HOODED PARKA', 45,'../../../assets/img/product3.jpg')">
                            </mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 pb-2 px-2">
            <div class="card" style="width: 17rem">
                <img class="card-img-top" src="../../../assets/img/product4.jpg" alt="Card image cap" />
                <div class="card-body">
                    <h2 class="card-title">STRAW METAL BOTTLE</h2>
                    <div class="row">
                        <div class="col-10 nopadding monneyitem" style="font-size: 20px; padding-top: 5px">
                            $24.04
                        </div>
                        <div class="col-2 text-center nopadding">
                            <mat-icon aria-label="Example home icon" fontIcon="shopping_bag" class="icon-shopping_bag"
                                style="color:black; padding-top: 2px"
                                (click)="Selectitems('STRAW METAL BOTTLE', 24.04,'../../../assets/img/product4.jpg')">
                            </mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 pb-2 px-2">
            <div class="card" style="width: 17rem">
                <img class="card-img-top" src="../../../assets/img/product5.jpg" alt="Card image cap" />
                <div class="card-body">
                    <h2 class="card-title">MATAL SUNGLASSES</h2>
                    <div class="row">
                        <div class="col-10 nopadding monneyitem" style="font-size: 20px; padding-top: 5px">
                            $50
                        </div>
                        <div class="col-2 text-center nopadding">
                            <mat-icon aria-label="Example home icon" fontIcon="shopping_bag" class="icon-shopping_bag"
                                style="color:black; padding-top: 2px"
                                (click)="Selectitems('MATAL SUNGLASSES', 50,'../../../assets/img/product5.jpg')">
                            </mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 pb-2 px-2">
            <div class="card" style="width: 17rem">
                <img class="card-img-top" src="../../../assets/img/product6.jpg" alt="Card image cap" />
                <div class="card-body">
                    <h2 class="card-title">BLACK HAT</h2>
                    <div class="row">
                        <div class="col-10 nopadding monneyitem" style="font-size: 20px; padding-top: 5px">
                            $50
                        </div>
                        <div class="col-2 text-center nopadding">
                            <mat-icon aria-label="Example home icon" fontIcon="shopping_bag" class="icon-shopping_bag"
                                style="color:black; padding-top: 2px"
                                (click)="Selectitems('BLACK HAT', 50,'../../../assets/img/product6.jpg')">
                            </mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 pb-2 px-2">
            <div class="card" style="width: 17rem">
                <img class="card-img-top" src="../../../assets/img/product7.jpg" alt="Card image cap" />
                <div class="card-body">
                    <h2 class="card-title">BACKPACK</h2>
                    <div class="row">
                        <div class="col-10 nopadding monneyitem" style="font-size: 20px; padding-top: 5px">
                            $50
                        </div>
                        <div class="col-2 text-center nopadding">
                            <mat-icon aria-label="Example home icon" fontIcon="shopping_bag" class="icon-shopping_bag"
                                style="color:black; padding-top: 2px"
                                (click)="Selectitems('BACKPACK', 70,'../../../assets/img/product7.jpg')">
                            </mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 pb-2 px-2">
            <div class="card" style="width: 17rem">
                <img class="card-img-top" src="../../../assets/img/product8.jpg" alt="Card image cap" />
                <div class="card-body">
                    <h2 class="card-title">ULTRABOOST 22</h2>
                    <div class="row">
                        <div class="col-10 nopadding monneyitem" style="font-size: 20px; padding-top: 5px">
                            $45
                        </div>
                        <div class="col-2 text-center nopadding">
                            <mat-icon aria-label="Example home icon" fontIcon="shopping_bag" class="icon-shopping_bag"
                                style="color:black; padding-top: 2px" (click)="Selectitems('ULTRABOOST 22', 45,'
                                ../../../assets/img/product8.jpg')">
                            </mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>